/* Normalize */

/* Appizy default CSS */
#appizy {
    display: inline-block;
}

#appizy table {
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
}

#appizy tbody {
    border: none;
}

#appizy tr {
    font-size: 10pt;
    font-family: Arial;
    min-height: 10px;
}

#appizy td {
    padding: 2px;
    line-height: normal;
}

#appizy input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding-right: 1%;
    margin: 1%;
    text-align: inherit;
    vertical-align: text-bottom;
    width: 97%;
}

#appizy input:disabled {
    border: none !important;
    color: inherit;
    -webkit-opacity: 1;
    -webkit-text-fill-color: inherit;
}

#appizy select {
    width: 100%;
    text-align: inherit;
}

#appizy p {
    margin: 0;
}

.in {
    text-align: right;
}

.out {
    text-align: right;
    padding: 5px;
}

.hidden-cell {
    display: none;
}

.hidden-row {
    display: none;
}
