<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
{% set tables = ods.getTables() %}
{% for table in tables %}
<div class="container">
    <h1>Table "{{ table.getAttribute('table:name') }}"</h1>
    <table class="table">
    {% for row in ods.getRows(table) %}
        <tr>
            {% for cell in ods.getCells(row) %}
                <td>{{ cell.textContent }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endfor %}
</body>
</html>
